# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.*.local

# Prisma generated client
/generated/prisma

# Storage / generated reports
storage

# Logs
logs
*.log

# Test coverage
coverage
